body {
  background: #292b2c;
  color: #aaa;
}

.orange-color {
  color: rgb(255, 119, 0);
}

.message-bold em,
.message-bold span {
  font-weight: bold;
}

.right {
  float: right;
}
.width {
  width: 75%;
}

@media (max-width: 1000px) {
  .width {
    width: 85%;
  }
}
@media (max-width: 700px) {
  .width {
    width: 95%;
  }
}
